{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}
<h1>Admin page</h1>

<p>This page is accessible to authenticated users with the 'admin' role.</p>

<p>Users:</p>

{% for row in usersAndRoles %}
<ul>
    <li>
        <form name="admin-form" action="/admin" method="post">
            <input type="hidden" name="user-id" value={{ row.id }} />
            <input type="hidden" name="action-type" value={% if row.admin %} "remove-admin" {% else %} "add-admin" {% endif %}/>
            <span>{{ row.name | safe}}</span>
            <input type="submit" value={% if row.admin %} "remove admin right" {% else %} "Give admin right" {% endif %} {% if current_user.id == row.id %} disabled {% endif %}>
        </form>
    </li>
</ul>
{% endfor %}

{% endblock %}