{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}
<h1>Admin page</h1>

<p>This page is accessible to authenticated users with the 'admin' role.</p>

<p>You can add/remove admin rights for other users (except yourself).</p>

<h2>Users:</h2>

<table class="table">
{% for row in usersAndRoles %}
        <tr>
            <form name="admin-form" action="/admin" method="post">
                <td><span>{{ row.name | safe}}</span></td>
                <input type="hidden" name="user-id" value={{ row.id }} />
                <td><button class="btn btn-default btn-own" type="submit" name="action" value={% if row.regular_user %}
                "remove;regular"
                <td><button class="btn btn-default btn-own" type="submit" name="action" value={% if row.admin %}
                    "remove;admin"
                    {% else %}
                    "give;admin"
                    {% endif %}
                    {% if current_user.id == row.id or not row.regular_user%}
                    disabled
                    {% endif %} >{% if row.admin %}
                    Remove admin role
                {% endif %}</button></td>
                {% else %}
                Give admin role
                {% else %}
                    "give;regular"
                {% endif %}
                {% if current_user.id == row.id or row.admin%}
                    disabled
                {% endif %} >{% if row.regular_user %}
                Remove regular user role
                {% else %}
                Give regular user role
                {% endif %}</button></td>
            </form>
        </tr>
{% endfor %}
</table>

{% endblock %}